<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login_and_register</title>
</head>
<body>
    <h1> Login and Register !!!</h1>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
        {% if messages %}                            <!-- check if there are any messages -->
            {% for message in messages %}            <!-- loop through the messages -->
                <p style="color: red">{{message}}</p>                   <!-- display each message in a paragraph tag -->
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="register"><h3>Register</h3>
      <form action="users/register", method="post">
        <div>
          first_name
          <input name="first_name">
        </div>
        <div>
          last_name
          <input name="last_name">
        </div>
        <div>
          email
          <input name="email">
        </div>
        <div>
          password
          <input name="password">
        </div>
        <div>
          confirm_password
          <input name="confirm_password">
        </div>
        <button>Register</button>
      </form>
    </div>
<!--                   login -->
    <div class="login">
        <h3>Login</h3>
        <form action="/users/login" method="post">
          <div>
            email
            <input name="email">
          </div>
          <div>
            password
            <input name="password">
          </div>
          <button>Login</button>
        </form>




    </div>
</body>
</html>