<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>create a recipe</title>
</head>
<body>
    <div>
      <h1>Create your own recipe!!</h1>
      <a href="/dashboard">HOME</a>
      <p></p>
      <div>
        {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
          {% if messages %}                            <!-- check if there are any messages -->
              {% for message in messages %}            <!-- loop through the messages -->
                <p style="color: red">{{message}}</p>                   <!-- display each message in a paragraph tag -->
              {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
      <p></p>
      logged in as user {{session.first_name}}
      <form action="/recipes/create", method="post">
        <div>
          name:
          <input name="name">
        </div>
        <div>
          description:
          <input name="description">
        </div>
        <div>
          instructions:
          <input name="instructions">
        </div>
        <div>
          date cooked/made:
          <input type="date" name="date">
        </div>
        <div>
          <p>under 30 min?</p>
          TRUE:
          <input type="radio" name="under_30" value="1">
          FALSE:
          <input type="radio" name="under_30" value="0">
        </div>
        <p></p>
        <button>create a recipe</button>

      </form>
    </div>
  
</body>
</html>